<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://github.com/spring-projects/spring-boot/blob/v1.5.13.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}  |-%-5level %logger{50} %line - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>